### Get list of most common professions

In [69]:
import pickle

from pprint import pprint
import pandas as pd
import string
import re
import numpy as np

In [2]:
with open('database_2455_1.pkl', 'rb') as picklefile:
    db_raw = pickle.load(picklefile)

In [11]:
info_list = [entry['info'] for entry in db_raw]

In [145]:
def remove_punct(corpus):
    punc_re = re.compile('[%s]' % re.escape(string.punctuation))

    corpus = map(lambda x: punc_re.sub(' ', x.lower()), corpus)
    return list(corpus)

In [50]:
info_list = remove_punct(info_list)

In [51]:
from collections import Counter

In [88]:
c = Counter(info_list)

In [92]:
df_info = pd.DataFrame.from_dict(c, orient='index').reset_index()
df_info = df_info.rename(columns={'index': 'profession', 0:'count'})
df_info = df_info.replace('', np.nan).dropna()

In [93]:
df_prof = df_info.sort_values(by='count', ascending=False).reset_index(drop=True)
df_prof.head(10)

     profession  count
0        Writer     45
1      Designer     34
2    Journalist     32
3        Artist     30
4     Architect     29
5  Entrepreneur     28
6      Inventor     27
7  Photographer     25
8  Psychologist     25
9     Filmmaker     20